@{
    ViewBag.Title = "About Us";
    ViewBag.Message = "Pretty much everything you need to know!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h4>Why was Grocer Check invented?</h4>
<p>
    If there is one thing most of us can agree on, it is the cost of groceries is getting so high that it is getting increasingly
    hard for people to buy enough food to feed their families (especially healthy, nutritous food).  Well, we here at Grocer Check
    have had enough, and are taking a stand!
</p>
<h4>What does Grocer Check do?</h4>
<p>
    Now you're probably asking, what does Grocer Check do, and how is it going to make groceries more available?
</p>
<p>
    Grocer Check is a community driven service that allows users to compare prices for any food item at almost every local grocery store.
    This allows users to go to the store with the best price, which in turn allows the user to get more for their money.
</p>
<h4>Grocer Check sounds expensive (paying people to keep prices up to date), how much will the service cost?</h4>
<p>
    Grocer Check is completely free to use.  We rely on users like you to keep our prices up to date.  How it works is, users enter prices
    for different items at the stores they are shopping at each time they go shopping.  This keeps our information up to date.
</p>
<h4>Why would people take the time to enter prices for free?</h4>
<p>
    Grocer Check is partnering with different stores to work out a points system that will reward users for using the service.
</p>
<h4>How does the point system help me save money?</h4>
<p>
    The point system will add points to a users account each time they enter information about food items into the service.
    The points will then be redeemable for products at local grocery stores that have partnered with Grocer Check.
</p>

