@{
    ViewBag.Title = "Get in Touch";
    ViewBag.Message = "Drop us a line!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d88508.07249565909!2d-64.87064041499588!3d46.11335256639491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ca0b92918d41765%3A0xdc10a333a4e63c4!2sMoncton%2C+NB!5e0!3m2!1sen!2sca!4v1462455928053" width="1000" height="200" frameborder="0" style="border:0" allowfullscreen></iframe></p>
<address>
    123 Grocer Check Way<br />
    Moncton, NB E1A 1A1<br />
    <abbr title="Phone">P:</abbr>
    506.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:pbrooker@gmail.com">Support@grocercheck.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:pbrooker@gmail.com">Marketing@grocercheck.com</a>
</address>