@if (Request.IsAuthenticated)//if user is logged in
{
    //and if user is admin
    if (User.IsInRole("Admin"))
    {

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Catagory", "Index", "Category")</li>
        <li>@Html.ActionLink("Brand", "Index", "Brand")</li>
        <li>@Html.ActionLink("Grocer", "Index", "Grocer")</li>
        <li>@Html.ActionLink("Item", "AdminIndex", "Item")</li>
    </ul>
</li>
    }
}
