@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to complete your registration", "Create", "User", routeValues: new { UserEmail = ViewBag.userEmail}, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
